<link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Fugaz+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Special+Elite&display=swap" rel="stylesheet">


<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum Vitae
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" pager = "true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="block1" size="8" push="4">
            <div class="nombres">
              <h4>Dennis Alexis</h4>
            </div>
            <div class="apellidos">
              <h4>Nuñez Jimenez</h4>
            </div>
            
          </ion-col>
          <ion-col class="block2" size="4" pull="8">
            <div>
              <img class="image-user" src="../../assets/img/user2.png">
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="block3" size="6" push="6">
            <div class="title-whoami">
              <h6>¿Quien soy?</h6>
            </div>
            <div class="descripcion">
              <p>Estudiante de tecnologia de analisis de sistemas informaticos
                con conocimientos en desarrollo web, programacion, base de datos
                y diseño de interfaces
              </p>
            </div>
                
          </ion-col>
          <ion-col class="block4" size="6" pull="6">
            <div class="title-contacto">
              <h6>redes sociales</h6>
            </div>
            <div class="contactos">
              <p><ion-icon ios="ios-mail" md="md-mail"></ion-icon>alexisn746@gmail.com</p>
              <p><ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
              @DennisNuez1</p>
              <p><ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
              Dennis_Nunez97</p>
              <p><ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
              +593962546789</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="block5" size="6">
            <div class="intereses-title">
              <h3>Mis intereses</h3>
            </div>
          </ion-col>
          <ion-col class="block6" size="6">
            <div class="descripcion-intereses">
              <p>Me intereso por aprender constantemente por internet,
                jugar videojuegos y obtener beneficios de ellos aprendiendo
                a crearlos desde cero, leo libros de ciencia ficcion. 
              </p>
            </div>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="block7" size="12" size-sm>
            <div class="lenguajes">
              <h4>Lenguajes de programacion</h4>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="block8" size="12" size-sm>
            <div class="lenguaje-programacion">
              <p>C++
                  <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                  <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
              <p>JAVA
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
              <p>python
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
              <p>javascript
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="block9" size="12" size-sm>
            <div class="sgbd">
              <h4>Sistema de gestion de base de datos</h4>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="block10" size="12" size-sm>
            <div class="gestorBD">
              <p>Microsoft SQL Server
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
              <p>MySQL
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
              <p>PostgreSQL
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                
              </p>
              <p>MariaDB
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
                <ion-icon ios="ios-star-outline" md="md-star"></ion-icon>
              </p>
            </div>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-slide>
      
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col class="block10" size="12" size-sm>
            <div class="experiencia-title">
              <h2>Mi experiencia</h2>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="block11" size="12" size-sm>
            <div class="experiencia">
              <p>videojuego 2D en python</p>
              <p>Sistema de calificaciones en java</p>
              <p>Pagina web de denuncias de maltrato animal</p>
              <p>Formulario de acta de defuncion online</p>
              <p>e-commerce</p>
            </div>
          </ion-col>
        </ion-row>
          <br>
          <ion-row>
            <ion-col class="block12" size="12" size-sm>
              <div class="trabajo-title">
                <h2>lugar de trabajo</h2>
              </div>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col class="block13" size="12" size-sm>
              <div class="trabajo">
                <p>Direccion de Gestion de la Informacion y Procesos de la Escuela Politecnica Nacional</p>
            
              </div>
            </ion-col>
          </ion-row>
          

      </ion-grid> 
    </ion-slide>
  </ion-slides>
</ion-content>
